
# Note: This crate must be built using do.sh

[package]
name = "solana-escrow"
version = "0.0.1"
description = "Solana escrow"
authors = ["Paul"]
repository = "https://github.com/paul-schaaf/solana-escrow"
license = "MIT"
homepage = "https://github.com/paul-schaaf/solana-escrow"
edition = "2018"

[dependencies]
thiserror = "1.0.21"
num-traits = "0.2"
num-derive = "0.3"
arrayref = "0.3.6"
solana-program="1.4.4"
spl-token = {version = "2.0.8", git = "https://github.com/solana-labs/solana-program-library", default-features = false, features = ["exclude_entrypoint"]}

[lib]
name = "solana_escrow"
crate-type = ["cdylib", "lib"]
